.main-conatiner {
    width: 100%;
    display: inline;
}

.first {
    background: linear-gradient(to right, #ffffff, #2a6a4d);
    text-align: center;
    font-family: 'sacranento', cursive;
    position: relative;
    background-size: 100%;
    width: auto;
    height: 800px;
    bottom: 50px;
    padding: auto;
    margin-top: 50px;
    width: 100%;
    height: 100;
    padding: 0%;
    margin: 0;
}

img {
    display: inline;
    width: 250px;
    height: auto;
    position: relative;
    transition: width 2s, height 2s, transform 2s;
}

img:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
    float: left;
    margin: 0%;
    width: 100%;
}

img {
    height: 200px;
    width: 200px;
    opacity: 2;
}

.contact {
    background: linear-gradient(to right, white, #2a6a4d);
    margin: 0%;
    position: relative;
    top: 22px;
    margin: 0% 0% 0% 0%;
    width: 100%;
    height: auto;
    line-height: 1rem;
}

hr {
    border-top: 5px dotted gray;
    width: 70px;
    position: relative;
    left: 500px;
}

.middle-one {
    position: relative;
    float: left;
    bottom: 300px;
}

.middle-two {
    position: relative;
    float: right;
    bottom: 200px;
    right: 80px;
    font-size: 1em;
}

#fi {
    transition: width 2s, height 2s, transform 2s;
    position: relative;
    top: 400px;
}
