.main-conatiner {
    width: 100%;
    display: inline;
}

.first {
    background: linear-gradient(to right, #f75050, #48c48e);
    text-align: center;
    font-family: 'sacranento', cursive;
    position: relative;
    background-size: 100%;
    width: auto;
    height: 800px;
    bottom: 50px;
    padding: auto;
    margin-top: 50px;
    width: 100%;
    height: 100;
    padding: 0%;
    margin: 0;
}

img {
    display: inline;
    width: 250px;
    height: auto;
    position: relative;
    transition: width 2s, height 2s, transform 2s;
}

img:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

#heading:hover {
    transform: rotate(180deg);
    transition: width 2s, height 2s, transform 2s;
}

body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
    float: left;
    margin: 0%;
    width: 100%;
}

img {
    height: 200px;
    width: 200px;
    opacity: 2;
}

.contact {
    margin: 0%;
    position: relative;
    bottom: 10%;
    margin: 0% 0% 0% 0%;
    background-color: #2a6a4d;
    line-height: 1rem;
}

#lp {
    text-align: left;
    padding: 10px;
}

#wp {
    text-align: center;
    position: relative;
    bottom: 70px;
    padding: 30px;
}

h2 {
    padding-bottom: 20px;
}

#e {
    text-align: right;
    position: relative;
    bottom: 160px;
    padding: 30px;
}

hr {
    border-top: dotted rgb(96, 92, 92) 6px;
    width: 70px;
    position: relative;
    left: 500px;
    margin: 100px auto;
    opacity: 1;
}

.middle-one {
    position: relative;
    float: left;
    bottom: 300px;
    left: 100%;
}

.middle-two {
    position: relative;
    float: right;
    bottom: 200px;
    left: 0%;
    font-size: 1em;
}

#fi {
    transition: width 2s, height 2s, transform 2s;
    position: relative;
    top: 400px;
}

#git {
    font-size: 2rem;
    width: 30px;
}

#ig {
    position: relative;
    font-size: 1rem;
    color: rgb(71, 65, 65);
    text-align: center;
    bottom: 15px;
}
